<footer class="border-top" style="position: fixed; bottom: 0; width: 100%; background-color: rgb(62, 62, 62);">
    <div class="small text-center text-muted fst-italic">
        <span style="color: antiquewhite;">Adi's Blog Website</span>
    </div>
</footer>